header {
    display: flex;
    justify-content: space-between;
    padding: 92px 50px;
}

.header__menu {
    display: flex;
    list-style: circle;
}

.header__menu-items {
  /*  list-style-type: none;
    padding-left: 0; */
    list-style: circle;
    justify-content: space-between;
}

.header__menu-items_active {
    text-decoration: none;
}

.header__logo {
    width: 148px;
}

.header__links-list {

}

.header__links-list-item {

}

.header__links-list-items_active {
    text-decoration: none;
}

.header__address {

}

.cover {
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1440px 757px;
}

.title {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 30px;
    font-weight: 700;
    font-size: 100px;
    color:#FFFFFF;
    line-height: 115px;
}

.text-center {
    text-align: center;
    display: block;
}

.text-right {
    text-align: right;
    display: block;
}

button {
    font-family:'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
    line-height: 25.83px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    margin: 50px;
}

.lots {
padding: 180px 50px;
}

.lots__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 46.96px;
    color:#000000;
}

.lots__card__list {
    grid-template-columns: repeat(auto-fill, minmax(310px, 310px));
}

.lots__card {
    padding: 50px 40px;
    width: 430px;
    height: 450px;
}

.lots__card__first {
    background-image: url(../images/card-lot-01.jpg);
}

.lots__card__second {
    background-image: url(../images/card-lot-02.jpg);
}

.lots__card__third {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 26.4px;
    color: #FFF;
}

.card__text {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    font-style: normal;
    color: #FFF;
}

.about {
    padding: opx 50px 180px 50px;
}

.about__logo {
    width: 148px;
    background-color: #000000;
    border-radius: ellipse;
}

.about__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 46.96px;
    color:#000000;
    padding-bottom: 100px;
}

.about__text {

}

footer {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px 90px 50px
}

.footer__menu {
position: center;
}

.footer__menu-items {
    list-style-type: none;
    padding-left: 0; 
    text-align: center;
}

.footer__menu-items_active {
    text-decoration: none;
}

.footer__socials {
    display: flex;
    width: 240px;
    height: 48px;
}